{
  "presets": [
    [
      "@babel/env",
      { "loose": true, "modules": false }
    ]
  ],
  "plugins": [
    [
      "@babel/transform-modules-commonjs",
      {
        "loose ": true
      }
    ]
  ]
}
