{
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "env": {
    "browser": true,
    "mocha": true,
    "node": true
  },
  "rules": {
    // allow async-await
    "generator-star-spacing": "off",
    // allow debugger during development
    "no-debugger": "off",
    "no-irregular-whitespace": "off",
    "space-before-function-paren": 0,
    "prefer-promise-reject-errors": 0
  }
}
